.about_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.title_subtitle_about_container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.title_subtitle_about_container p:first-child {
    font-family: clashMed;
    font-size: 1.5rem;


}

.title_subtitle_about_container p:last-child {
    font-family: archivoReg;
    font-size: 1rem;
}

.picture_content_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 3rem 0 1rem;
}

.picture_content_container div {
    display: flex;
    width: 48%;
}

.picture_content_container div:first-of-type {

    /* border: 1px solid var(--white-color); */
}

.picture_content_container div:last-child p {
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-size: 1.2rem;

}


@media (max-width:767px) {
    .picture_content_container{
        flex-direction: column;
        width: 100%;
        margin: 3rem 0 1rem;
    }
    .picture_content_container div:first-of-type {
        margin: 2rem 0;
        /* border: 1px solid var(--white-color); */
    }
    .picture_content_container div {
        display: flex;
        width: 100%;
    }
}